.menu_libro_usuario {
  margin-left: auto;
}
.menu{
  background-color: #282c34;  
}
.menu .navbar-brand{
  color: white;
}
.menu .nav-link{
  color: white;
}
.menu .nav-link:active,
.menu .nav-link:focus {
  color: white; /* Cambia el color cuando el enlace está activo o enfocado */
}
.menu .nav-link:visited {
  color: white; /* Cambia el color del enlace después de ser visitado */
}
.imagen_carrusel{
  opacity: 0.9;
  transition: opacity 0.5s ease;
}
.pie_pagina{
  background-color: #282c34;  
}
.pie_pagina .pie_pagina_texto{
  color: darkgray;
}